[Unit]
Description=Akraino Workflow Engine

[Service]
User=root
WorkingDirectory=/opt/akraino/region
ExecStart=/opt/akraino/region/akraino-workflow.sh

SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

